body {
    padding: 10px;
}

header {
    padding: 10px;
    background: yellow;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-between;
}

ul > li {
    padding: 10px;
    list-style: none;
}

ul > li > a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
}



footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: yellow;
    border: 1px solid black;
    margin-top: 65px;
}

footer > .icon {
    margin-top: 23px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 140px;
    gap: 10px;
    margin-left: 10px;
}

.form {
    display: flex;
    margin-left: 600px;
    margin-top: 50px;
}
